<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >

<style type="text/css">
	.jumbotron{
		text-align: center;
		height: 100%;
	}

</style>

</head>
<body>
	<div class="jumbotron ">
	<h1>Profile</h1>
	<h2>
	<form method="POST" action="/logout">
	<button class="btn btn-primary">Logout</button>
</form>


</div>
</form>
</body>
</html>