<!DOCTYPE html>
<html>
<head>
	<title>New</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >

<style type="text/css">
	.jumbotron{
		text-align: center;
		height: 100%;
	}
	input{
		width: 300px;
		padding-left: 20px;
	}
	h1{
		padding-bottom: 20px;
	}
</style>

</head>
<body>
	<div class="jumbotron ">
	<h1>Register/Signup</h1>
<form method="post" action="/register">
	<input type="text" name="username" placeholder="Enter name " required><br><br>
<!-- 	<input type="email" name="emil" placeholder="Enter email " required><br><br>
	<input type="tel" name="tel" placeholder="Enter Phone " required><br><br> -->
	<input type="password" name="password" placeholder="Enter Password " required><br><br>
<!-- 	<input type="password" name="pass2" placeholder="Confirm Password " required><br><br> -->
	
<button class="btn-primary" value="Submit" name="submit">Submit</button><br />



</div>
</form>
</body>
</html>